body {
    background: #FFCC00;
}

h1{
    color: purple; 
    background-color: yellow; 
    text-align: center;
    padding: 40px;
    margin: 40px;
}

img {
    max-width: 100%
}

.important { 
    color: red;
    font-weight: bold;
    font-size: 2em;
}

.numberlist {
    width: 30%;
    border: 1px solid purple;
    background: #FFF;
}

@media only screen and (max-width: 600px) {
    .numberlist {
    width: 100%;
    }

}